main {
    justify-content: center;
}

.container-body {
    margin: auto;
    background-color: white;
    width: 59.5%;
    padding: 20px;
    margin-top: 50px;
    justify-content: center;
}

ul.slider {
    position: relative;
    width: 100%;
    height: 300px;
}


ul.slider li img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    border: 2px solid rgb(107, 107, 107);
}

.slider li {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slider li.active {
    display: block;
    opacity: 1;
}
